{% extends 'base.html' %}

{% block content %}

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">

      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="https://penntechreview.com" style="font-weight: 800"><strong>Penn Tech Review</strong></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </header>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4" style="font-weight: 800"> <strong>Join Our Team</strong></h1>
      <p class="lead my-3">Penn Tech Review has a few open positions spanning across marketing, writing, and development. Each of the applications below contains a clear description of the position. Applications are due Saturday, September 22nd at midnight (but we won’t care if they come in before any reasonable person wakes up on the day after). </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Marketing</strong>
          <p class="card-text mb-auto">Marketing is absolutely essential to Penn Tech Review. It's the difference between getting 100 views on a release and 5000 (literally). It's our vehicle for distributing articles, establishing our brand, and helping forward our goal of connecting undergraduates with Philadelphia's technology community. We need students with concrete marketing experience and a drive to grow organizations. Our marketing team helps grow our brand's presence in Philadelphia through organizing events, creating engaging content, and understanding our analytics to see where we can improve. <br />  <br />  This application is technically due at midnight on Saturday, September 22nd but we understand that things happen, so please submit this before any reasonable person would wake up on the following day.</p>
          <br />
          <a href="https://goo.gl/forms/AgzpknqT8iYxScw22">Application Link</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-warning">Writing</strong>
          <p class="card-text mb-auto">Penn Tech Review's articles are the heart and soul of the organization. We write articles about students, faculty, and alumni of the University of Pennsylvania as well as Philadelphia technology leaders. We look for writers with strong journalistic capabilities, editing skills, and ability to interview subjects. Any questions regarding the application can be sent to niharp@seas.upenn.edu. <br />  <br /> This application is technically due at midnight on Saturday, September 22nd but we understand that things happen, so please submit this before any reasonable person would wake up on the following day.</p>
          <br />
          <a href="https://goo.gl/forms/CJ66ZAjZLMxqTIjE2">Application Link</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-info">Engineering</strong>
          <p class="card-text mb-auto">Penn Tech Review needs experienced developers to help re-build core pieces of our backend, re-design our website, and rapidly prototype and test new projects for engaging with Philly's tech community. This is more or less an interest form. The core of our screening will happen through interviews (we will not ask any algorithm questions don't worry). <br /> <br /> This application is technically due at midnight on Saturday, September 22nd but we understand that things happen, so please submit this before any reasonable person would wake up on the following day.</p>
          <br />
          <a href="https://goo.gl/forms/yMnTuXf184nUhVAB3">Application Link</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}