{% extends 'base.html' %}

{% block content %}

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">

      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="https://penntechreview.com" style="font-weight: 800"><strong>Penn Tech Review</strong></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </header>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-4" style="font-weight: 800"> <strong>November 2018 Release</strong></h1>
      <p class="lead my-3"> Featuring Elon Musk on smoking weed, how to hack Hunstman PCs, the latest 121 homework and many other tech things. </p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Read Release</a></p>
    </div>
  </div>

  <h3 class="mb-0" style="font-weight: 800"> Featured </h3> <br />

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-info">Entrepreneurship</strong>
          <h3 class="mb-0" style="font-weight: 800"> Fighting Climate Changes </h3>
          <div class="mb-1 text-muted">November 2018 Release</div>
          <p class="card-text mb-auto">How a policy expert is bridging activism and entrepreneurship to help sell more electric cars.</p>
          <br />
          <a href="#">Continue reading...</a>
        </div>
        <img class="card-img-right" style="margin-right: 1rem" src="https://res.cloudinary.com/penntechreview-com/image/upload/v1521436545/mar18y2018/Gabriel_Elsner.svg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-info">Computer Science</strong>
          <h3 class="mb-0" style="font-weight: 800"> From Table Tennis to Algorithms </h3>
          <div class="mb-1 text-muted">November 2018 Release</div>
          <p class="card-text mb-auto">An inside look at Penn's lecturer Rajiv Ghandi's motivations and beliefs.</p>
          <br />
          <a href="#">Continue reading...</a>
        </div>
        <img class="card-img-right" style="margin-right: 1rem" src="https://res.cloudinary.com/penntechreview-com/image/upload/v1492362790/jun13y2017/circle3_novhyc.svg" alt="Card image cap">
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Built with <3 in Philadelphia.</span>
    </div>
  </footer>
</div>

{% endblock %}